<nav class="col-md-2 d-none d-md-block bg-light sidebar" [class.hidden]="!isOpen">
  <pre>{{ isOpen | json }}</pre>
  <div class="sidebar-sticky" [title]="'test' + '2'">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Pulpit</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin" routerLinkActive="active">Administratorzy</a></li>
    </ul>
  </div>
</nav>
<DIV (click)="show('sss')">test</DIV>
