<p>admin-list works!</p>
<a class="btn btn-success" routerLink="/admin/create">Dodaj</a>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Id</th>
      <th>Imię</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of adminsList">
      <td>{{ admin.id }}</td>
      <td>{{ admin.firstname }}</td>
      <td>{{ admin.surname }}</td>
      <!--<td>{{ admin.displayname }}</td>-->
      <td><a [routerLink]="['/admin/', admin.id]">Edytuj</a></td>
    </tr>
  </tbody>
</table>
<br>
<pre>{{ adminsList | json }}</pre>
<!--<pre>{{ adminsList }}</pre>-->
