<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Panel</a>
  <a class="col-sm-1 mr-0" style="color:white" href="#" (click)="toggleMenu()">menu</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap"><a class="nav-link" href="#">Wyloguj</a></li>
  </ul>
</nav>
