<!-- <p *ngIf="name">Witaj {{ name }}!</p>

<div *ngIf="!username">
  <input type="text" [(ngModel)]="name" /> <input type="text" #iname /> <button (click)="send(iname)">Wyślij</button>
</div> -->

<app-one (current)="currentTab = $event"></app-one>
<app-two [filter]="currentTab"></app-two>
