<app-top></app-top>
<div class="container-fluid">
  <div class="row">
    <app-sidebar style="display: contents"></app-sidebar>
    <main class="ml-sm-auto pt-3 px-4" [ngClass]="getClasses()"><router-outlet></router-outlet></main>
  </div>
</div>
