<p>
  admin-edit works!
</p>
<div class="col-sm-5 offset-1">
  <form [formGroup]="adminForm" (submit)="onSubmit()">
    <div class="form-group">
      <label>Nazwa użytkownika *</label>
      <input class="form-control" type="text" formControlName="username">
    </div>
    <div class="form-group">
      <label>Imię *</label>
      <input class="form-control" type="text" formControlName="firstname">
    </div>
    <div class="form-group">
      <label>Nazwisko *</label>
      <input class="form-control" type="text" formControlName="surename">
    </div>
    <button class="btn btn-success" type="submit">Zapisz zmiany</button>
  </form>
</div>
