<div>
  <button (click)="setActive('inbox')">Inbox</button> <button (click)="setActive('drafts')">Drafts</button>
  <button (click)="setActive('stared')">Stared</button>
</div>
<pre>{{ active | json }}</pre>
