<p>
  admin-create works!
</p>
<div class="col-sm-5 offset-1">
  <form #adminForm="ngForm" (submit)="doSubmit(adminForm.value)">
    <div class="form-group">
      <label>Nazwa użytkownika *</label>
      <input #username="ngModel" required class="form-control" type="text" minlength="4" [(ngModel)]="admin.username" name="surname">
      <span class="text-danger" *ngIf="username.errors?.hasOwnProperty('minlength')">Za mało znaków</span>
      <span class="text-danger" *ngIf="username.errors?.hasOwnProperty('required')">Pole jest wymagane</span>
      <!--<pre>{{ username.errors | json }}</pre>-->
    </div>
    <div class="form-group">
      <label>Imię</label>
      <input #firstname="ngModel" class="form-control" type="text" minlength="3" [(ngModel)]="admin.firstname" name="firstname">
      <span class="text-danger" *ngIf="firstname.errors?.hasOwnProperty('minlength')">Za mało znaków</span>
      <!--<pre>{{ firstname.errors | json }}</pre>-->
    </div>
    <div class="form-group">
      <label>Nazwisko *</label>
      <input #surname="ngModel" required class="form-control" type="text" minlength="4" [(ngModel)]="admin.surname" name="surname">
      <span class="text-danger" *ngIf="surname.errors?.hasOwnProperty('minlength')">Za mało znaków</span>
      <span class="text-danger" *ngIf="surname.errors?.hasOwnProperty('required')">Pole jest wymagane</span>
      <!--<pre>{{ surname.errors | json }}</pre>-->
    </div>
    <button class="btn" [ngClass]="isValid()" type="submit">Dodaj admina
    </button>
  </form>
</div>
<!--<pre>{{ adminForm.valid | json }}</pre>-->
<!--<pre>{{ adminForm.errors | json }}</pre>-->
<pre>{{ adminForm.value | json }}</pre>
<pre>{{ admin | json }}</pre>
